<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <app-create-person 
                (stdntCreated)="onStudentAdded($event)"
                (staffCreated)="onStaffAdded($event)"></app-create-person>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" (click)="onChangeFirst()">Change Role on 1st Person</button>
            <button class="btn btn-danger" (click)="onDestroyFirst()">Delete 1st Person</button>
            <app-person-info *ngFor="let listItem of rosterList" [prsn]="listItem">
                <div class="row" #bodyContent>
                    <div class="col-sm-6">
                        Role: <span [ngClass]="{'staff': listItem.type === 'Staff', 'student': listItem.type === 'Prefect'}">{{listItem.type}}</span>
                    </div>
                    <div class="col-sm-6">
                        Age: <span>{{listItem.age}}</span>
                    </div>
                </div>
            </app-person-info>
        </div>
    </div>
</div>